@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  font-family: "Oswald", sans-serif;
}

.start {
  background-color: #000;
  color: #fff;
  width: 100%;
}

@media (max-width: 576px) {
  .start p {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .start p {
    font-size: 15px;
  }
}


.navbar-wrapper {
  width: 100%;
  background: #65606034;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 600;
}

.navbar-brand img {
  height: 30px;
}

.navbar-menu {
  display: flex;
  gap: 28px;
}

.navbar-menu a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  white-space: nowrap;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-action {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  cursor: pointer;
}

.hero-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 14px 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s linear;
}

.hero-btn:hover {
  background-color: #dd3333;
}

.main-section {
  background: #65606034;
}